@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 
R (0)
G (110)
B (255 */

@layer base {
  :root {
    --background: 216 100% 98.04%;
    --foreground: 213.6 100% 4.9%;

    --primary: 214.12 100% 50%;
    --primary-foreground: 0 0% 100%;

    --card: 216 100% 98.04%;
    --card-foreground: 213.6 100% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 213.6 100% 4.9%;

    --secondary: 214.74 100% 92.55%;
    --secondary-foreground: 216 100% 0.98%;

    --muted: 213.6 100% 95.1%;
    --muted-foreground: 0 0% 40%;

    --accent: 213.6 100% 95.1%;
    --accent-foreground: 214.12 100% 50%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 90.2%;
    --input: 0 0% 90.2%;
    --ring: 214.12 100% 50%;

    --radius: 0.5rem;
  }

  .dark {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #007adf, #00ecbc);

    --background: 220 65% 3.52%;
    --foreground: 220 10% 97.2%;

    --muted: 220 50% 13.2%;
    --muted-foreground: 220 10% 54.4%;

    --popover: 220 45% 5.72%;
    --popover-foreground: 220 10% 97.2%;

    --card: 220 45% 5.72%;
    --card-foreground: 220 10% 97.2%;

    --border: 220 50% 13.2%;
    --input: 220 50% 13.2%;

    --primary: 220 100% 44%;
    --primary-foreground: 220 10% 97.2%;

    --secondary: 220 50% 13.2%;
    --secondary-foreground: 220 10% 97.2%;

    --accent: 220 50% 13.2%;
    --accent-foreground: 220 10% 97.2%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 220 10% 97.2%;

    --ring: 220 100% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .main-container {
    @apply flex min-h-screen flex-1 flex-col items-start bg-light-1 dark:bg-dark-1 px-6 pb-10 pt-28 max-md:pb-32 sm:px-10;
  }
  .input-0{
    @apply focus:ring-transparent focus-visible:ring-offset-0 focus-visible:ring-0
  }
  .input-1{
    @apply focus:ring-transparent focus-visible:ring-offset-0 focus-visible:ring-1
  }

  .leftsidebar {
    @apply sticky left-0 top-0 z-20 flex h-screen w-fit flex-col justify-between overflow-auto border-r border-r-light-3 dark:border-r-dark-4 dark:bg-dark-2 bg-gray-200 pb-5 pt-28 max-md:hidden;
  }
  .leftsidebar1 {
    @apply sticky left-0 top-0 z-40 flex h-screen max-md:hidden flex-col justify-between overflow-auto border-r border-r-gray-300 dark:border-r-dark-4 dark:bg-dark-2 bg-gray-200 pb-5 pt-8 w-24 items-center overflow-x-hidden;
  }

  .rightsidebar {
    @apply absolute right-0 top-0  flex h-screen w-fit flex-col justify-between gap-12 overflow-auto border-l border-l-light-3 dark:border-l-dark-4  px-10 pb-6 pt-28 max-xl:hidden;
  }

  .topbar {
    @apply fixed top-0  flex w-full items-center justify-between bg-gray-200 px-6 py-3
     dark:bg-dark-2 backdrop-blur-sm sm:backdrop-blur-lg text-white  border-b-light-3;
  }
  .topbar1 {
    @apply fixed top-0 z-20 flex w-full items-center justify-between bg-gray-200 px-6 py-3 h-24
     dark:bg-dark-2 backdrop-blur-sm sm:backdrop-blur-lg text-white border md:pl-28;
  }
  
}

@layer utilities {
  .css-invert {
    @apply invert-[50%] brightness-200;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }
}


.dotPattern {
  background-image: radial-gradient(rgb(35, 40, 68) 1px, transparent 1px);
  background-size: 25px 25px;
}

.use-automation-zoom-in {
  animation: automation-zoom-in 0.5s;
}

@keyframes automation-zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.autoText {
  font-size: 2.95em;
  font-weight: bold;
  border-right: 2px solid #efd7d7;
  white-space: nowrap;
  overflow: hidden;
  animation: blink-caret 0.75s step-end infinite;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.gradient{
  @apply bg-gradient-to-r from-blue-500 via-primary to-sky-300
}